<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<springProperty scope="context" name="applicationName" source="spring.application.name"
					defaultValue=""/>

	<springProperty scope="context" name="profile" source="spring.profiles.active"
					defaultValue="default"/>

	<springProperty scope="context" name="esUserName" source="luminary.elasticsearch.username"
					defaultValue="elastic"/>

	<springProperty scope="context" name="esPassword" source="luminary.elasticsearch.password"
					defaultValue="123456"/>

	<springProperty scope="context" name="esServer" source="luminary.elasticsearch.server"
					defaultValue="127.0.0.1:9200"/>

	<springProperty scope="context" name="esMultiThreaded" source="luminary.elasticsearch.multiThreaded"
					defaultValue="true"/>

	<springProperty scope="context" name="esMaxTotalConnection" source="luminary.elasticsearch.maxTotalConnection"
					defaultValue="20"/>

	<springProperty scope="context" name="esMaxTotalConnectionPerRoute" source="luminary.elasticsearch.maxTotalConnectionPerRoute"
					defaultValue="5"/>

	<springProperty scope="context" name="esDiscoveryEnabled" source="luminary.elasticsearch.discoveryEnabled"
					defaultValue="true"/>

	<springProperty scope="context" name="esDiscorveryFrequency" source="luminary.elasticsearch.discorveryFrequency"
					defaultValue="60"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%boldYellow(%date) [%thread] %highlight(%-5level) %boldGreen(%logger{36}) %boldMagenta(%M %L) - %msg%n" />   
              
    <property name="CONSOLE_LOG_PATTERN_IDE"
              value="%date [%thread] %-5level %logger{36} %M %L - %msg%n" />   
              
    <property name="CONSOLE_LOG_PATTERN_CALLER_IDE"
              value="%date [%thread] %-5level %caller{3} - %msg%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="ES" class="com.luminary.component.logger.appender.SpringElasticsearchAppender">
		<applicationName>${profile}</applicationName>
		<profile>${profile}</profile>
		<esType>demo1</esType>
		<username>${esUserName}</username>
		<password>${esPassword}</password>
		<server>${esServer}</server>
		<multiThreaded>${esMultiThreaded}</multiThreaded>
		<maxTotalConnection>${esMaxTotalConnection}</maxTotalConnection>
		<maxTotalConnectionPerRoute>${esMaxTotalConnectionPerRoute}</maxTotalConnectionPerRoute>
		<discoveryEnabled>${esDiscoveryEnabled}</discoveryEnabled>
		<discorveryFrequency>${esDiscorveryFrequency}</discorveryFrequency>
	</appender>
    
     <appender name="stdout_ide" class="ch.qos.logback.core.ConsoleAppender">
	 	<withJansi>true</withJansi>
		<encoder>
           <pattern>${CONSOLE_LOG_PATTERN_IDE}</pattern>
		   <charset>utf8</charset>
   		</encoder>
    </appender>    
    
	<appender name="stdout_caller_ide" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
           <pattern>${CONSOLE_LOG_PATTERN_CALLER_IDE}</pattern>
		   <charset>utf8</charset>
   		</encoder>
    </appender>
    
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <File>main.log</File>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <FileNamePattern>main.%d{yyyy-MM-dd}.log</FileNamePattern>
	    <maxHistory>30</maxHistory>         
	  </rollingPolicy>
	  <encoder>
	    <Pattern>%boldYellow(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %boldGreen(%logger{35}) %boldMagenta(%M %L) - %msg %n</Pattern>
	  </encoder>        
	   <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	    <level>DEBUG</level>
	  </filter>
	</appender>

	<appender name="ASYNC_ES" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="ES"/>
        <includeCallerData>true</includeCallerData>
	</appender>

	<springProfile name="!production">
		<logger name="com.luminary.component" level="DEBUG" />
		<logger name="org.springframework.web" level="INFO"/>
		<root level="info">
			<appender-ref ref="stdout_ide" />
			<appender-ref ref="ASYNC_ES" />
		</root>
	</springProfile>

	<springProfile name="production">
		<logger name="com.luminary.component" level="DEBUG" />
		<logger name="org.springframework.web" level="INFO"/>
		<root level="info">
			<appender-ref ref="stdout" />
			<appender-ref ref="dailyRollingFileAppender" />
		</root>
	</springProfile>

</configuration>